/**
 TailwindCSS
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 brighter color hack
*/
#whiter,
.even-brighter {
  color: color(display-p3 1 0 0);
  filter: brightness(10);
  backdrop-filter: brightness(1);
}

#notwhiter {
  color: color(display-p3 1 0 0);
  filter: brightness(10);
  backdrop-filter: brightness(1);
}

body {
  background-color: color(display-p3 1 1 1);
  backdrop-filter: brightness(10);
  height: 100%;
}

html { height: 100%; }
